#searchField {
				float: left;
}

.card {
				margin-top: 5%;
				box-shadow: 0 0 10px black;
}

i.fit-icon {
				float: left;
				color: #808080
}

a:link {
				text-decoration: none;
				color: black;
}

a:visited {
				text-decoration: none;
				color: black;
}

p {
				color: darkslategrey;
}